<%= render 'shared/content_title', title: 'Log In' %>

<div class='form-group'>
  <%= form_tag '/login' do %>
    <div class='form-group col-sm-8'>
      <%= label_tag :username %>
      <%= text_field_tag :username, params[:username] || '', class: 'form-control', 'placeholder' => "Username" %>
    </div>
    <div class='form-group col-sm-8'>
      <%= label_tag :password %>
      <%= password_field_tag :password, params[:password] || '', class: 'form-control', 'placeholder' => "Username" %>
    </div>
    <div class='form-group col-sm-8'>
      <%= submit_tag "Log In", class: "btn btn-primary" %>
      <p class='btn btn-default'>
        <%= link_to 'Cancel', root_path %>
      <br/>
      </p>
      <p class='help-block'>
        Not yet a user? 
        <%= link_to 'Register', register_path %>
      </p>
    </div>
  <% end %>
</div>