<div class='panel panel-default'>
  <div class='panel-body'>
    <% if !@footstep.private? || (logged_in? && (current_user == @footstep.user)) %>
      <div class='row'>
        <div class='col-sm-6'>
          <%= render @footstep.categories %>
        </div>
        <div class='col-sm-2'></div>
        <div class='col-sm-4' id='marker'>
          <% if logged_in? && current_user == @footstep.user %>
            <% if @footstep.private? %>
              <span class='label label-danger'><span class='glyphicon glyphicon-ban-circle'></span> Private</span>
            <% end %>
            <% if @footstep.completed? %>
              <span class='label label-success'><span class='glyphicon glyphicon-check'></span> Complete</span>
            <% else %>
              <span class='label label-default'><span class='glyphicon glyphicon-bell'></span> Incomplete</span>
            <% end %>              
          <% end %>
        </div>
      </div> 

      <div>
        <%= render 'shared/content_title', title: @footstep.title %>

        <p> <strong>Note:</strong> <%= @footstep.note %> </p>
        <br/>
        <p>
          <span class="quiet">created by: <%= link_to @footstep.user.username, user_path(@footstep.user) %>
            <small>at <%= display_datetime(@footstep.created_at) %></small>
          </span>
        </p>

        <% if logged_in? && (current_user == @footstep.user) %>
          <div class='btn btn-primary'>
            <span class='glyphicon glyphicon-edit'></span><%= link_to ' Edit', edit_footstep_path(@footstep) %>
          </div>

          <div class='btn btn-danger'>
            <span class='glyphicon glyphicon-trash'></span><%= link_to ' Delete', @footstep, method: :delete %>
          </div>

          <div class='btn btn-default'>
            <span class='glyphicon glyphicon-road'></span><%= link_to ' My happypath', user_path(current_user) %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<hr>
<br/>

<% if logged_in? && !@footstep.private? %>
  <div class='row'>
    <div class='form-group'>
      <%= render 'shared/errors', obj: @comment %>
      <%= form_for [@footstep, @comment] do |f| %>
        <div class='form-group col-sm-8'>
          <%= f.label :body, "Leave a Comment:", class: 'control-label' %>
          <%= f.text_area :body, rows: 5, class: "form-control" %>
          <br/>
          <%= f.submit "Create Comment", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<% if @footstep.comments != [] %>
  <h5>Comments:</h5>
  <% @footstep.reload.comments.each do |comment| %>
    <%= render 'comments/comment', comment: comment %>
  <% end %>
<% end %>